# --- Host System Paths ---
DB_VOLUME_BASE=

# --- Database Credentials ---
DB_USER=admin_user
DB_PASSWORD=password
DB_NAME=db

# --- Security ---
JWT_SECRET=echo -n "MySuperSecretKeyForJWTAuth1234567890!" | base64

# --- Ports ---
GATEWAY_PORT=
AUTH_PORT=
PATIENT_PORT=
BILLING_PORT=
BILLING_GRPC_PORT=
ANALYTICS_PORT=
KAFKA_UI_PORT=
